<footer>
    <a href="">
        <img style="height: 44px;" src=".\assets\img\5_section_footer\PNG\sakura_ramen_logo_and_text.png">
    </a>
    <a href="imprint">IMPRINT</a>

    <!-- <div>
        <img class="social_media_icon" src=".\assets\img\5_section_footer\PNG\tripadvisor_logo.png">
        <img class="social_media_icon" src=".\assets\img\5_section_footer\PNG\facebook_logo.png">
        <img class="social_media_icon" src=".\assets\img\5_section_footer\PNG\instagram_logo.png">
    </div> -->
</footer>